{% extends 'base.html.twig' %}
{% block title %}
    {{ parent() }}
    Homepage
{% endblock %}

{% block body %}
    <h1>Homepage twig</h1>

    <table>
        {%  for customer in customers %}
            <tr>
                <th>Name</th>
                <td>{{ customer.name|title }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ customer.type }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ customer.status }}</td>
            </tr>
        {%  endfor %}

    </table>
{% endblock %}